@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.about-container {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #222;
}

p {
  font-size: 18px;
  color: #555;
}
